html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;  
    background-color: #FCE7FF;
  }

  .center-me {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32em;
    height: 100vh;
    color: #363636;
    flex-wrap: nowrap;
  }

  .center-me-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30em;
    height: 100vh;
    color: #FCE7FF;
    flex-wrap: nowrap;
    background-color: #ffbf00;
  }

  .small {
    font-size: 5em;
  }

  .center-me-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    height: 100vh;
  }
  /* a {
    padding: .08em;
  } */

  a:link {
    color:#FCE7FF;
    text-decoration: none;
    font-weight: 200;
    
  }
  
  /* visited link */
  a:visited {
    color: #FCE7FF;
    text-decoration: none;
    
  }
  
  /* mouse over link */
  a:hover {
    color: #92ff8f;
    text-decoration: none;
    
    
  }
  
  /* selected link */
  a:active {
    color: #FCE7FF;
    text-decoration: none;
    
  }

.links {
    font-size: .05em;
    display: block;
    color: #FCE7FF;

}

.links a{
    margin: .7em;
    
}

#a {
    color: #ffbf00;
    font-weight: 400;

}

#a:hover {
    color: #92ff8f;
}

p {
    font-size: 2em;
    padding: 1em;
    color: #e1ff5b;
    max-width: 40em;
    line-height: 1.5em;
}